.nameHeader{
  text-align: center;
  margin-top: max(5%, 48px);
  font-size: clamp(1rem, 8vw, 4rem);
}

.embedWrapper{
  /* max-height: 480px; */
  height: 100vh;
  overflow: hidden;
}

.divider{
  height: 20vh;
}

.mediaContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  /* margin-top: min(4rem, 20%); */
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem;
}

.musicContainer{
  display: flex;
  flex-direction: row;
  margin: 1rem;
  align-items: flex-start;
}

.albumCards{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.interviewContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10%;
}

.contactWrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-color: rgb(20, 20, 20); */
}

.linksPaper{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

.linksList{
  list-style-type: none;
  color: #ff0000
}
.linksList > li {
  margin: 1rem;
  font-size: 24px;
  text-decoration: underline;
}

.header{
  font-size: 48px;
}

@media only screen and (max-width: 950px){
  .musicContainer{
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 600px){
  .albumCards{
    flex-direction: column;
  }

  .mediaContainer{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .interviewContainer{
    flex-direction: column;
    margin-bottom: 5%;
  }

  .divider{
    display: none;
  }

  .embedWrapper{
    height: 40vh;
  }

  .nameHeader{
    margin-top: 40%;
  }

  .contactWrapper{
    flex-direction: column;
  }

  .linksPaper{
    width: 100%;
  }
}